<h1>Editing playlist</h1>

<% form_for(@playlist) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :title %><br />
    <%= f.text_field :title %>
  </p>
  <p>
    <%= f.label :description %><br />
    <%= f.text_field :description %>
  </p>
  <p>
    <%= f.label :user_id %><br />
    <%= f.text_field :user_id %>
  </p>
  <p>
    <%= f.label :favorite_count %><br />
    <%= f.text_field :favorite_count %>
  </p>
  <p>
    <%= f.label :flags %><br />
    <%= f.text_field :flags %>
  </p>
  <p>
    <%= f.label :status %><br />
    <%= f.check_box :status %>
  </p>
  <p>
    <%= f.submit 'Update' %>
  </p>
<% end %>

<%= link_to 'Show', @playlist %> |
<%= link_to 'Back', playlists_path %>